<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Portfolio</title>
    <link rel="icon" href="LOGO.png" type="image/icon type">
    <link rel="stylesheet" href="portfolio.css">
</head>
<body>
    <h1 class="head-ing">Welcome to World of Portfolio</h1>
    <p>"Unlocking the Artistry Within: Experience Our Diverse People Portfolio"</p>
    <div class="box">
        <div class="content">
            <div class="info">
                <h6>Name: <%=name%></h6>
                <h6>E-mail:<%=userEmail%></h6>
                <h6>Github: <%=githubid%></h6>
                <h6>Date of Birth: <%=dob%></h6>
            </div>
            <img src="<%=file%>" class="userImage" alt="img">
        </div>
    </div>
    
</body>
</html>

<!-- 
<h1>Welcome <%=name%> to the World of Portfolio</h1>
<h1>your detalis name =<%=name%> ,   dob =<%=dob%> , githubID =  <%=githubid%> </h1>
<img src="<%=file%>" alt="image" height="400px" width="300px" />
<span>"Unlocking the Artistry Within: Experience Our Diverse People Portfolio"</span> -->